.title-cars, .car{
    display: flex;
}
.title-cars>div, .car>div{
    margin: 5px 10px;
}

.title-cars{
    font-weight: bold;
}
.model{
    min-width: 90px;
}
.prise{
    min-width: 50px;
}
button{
    height: 20px;
    margin: 3px;
}